.jq-checkbox,
.jq-radio {
    @include center;
    width: 10px;
    height: 10px;
    border: 1px solid rgba($blue, 0.6);
    border-radius: 2px;
    background: #fff;
    box-shadow: none;
    vertical-align: 0px;
    //margin-right: 8px;
}

.jq-checkbox.checked,
.jq-radio.checked {
    background: transparent;
    border: 1px solid rgba($blue, 0.6);
}

.jq-checkbox.checked .jq-checkbox {
    &__div {
        width: 100%;
        height: 100%;
        margin: 0;
        border-bottom: none;
        border-left: none;
        transform: rotate(0deg);
        background-image: url('../img/icons/checkbox.svg');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.jq-radio.checked .jq-radio {
    &__div {
        width: 100%;
        height: 100%;
        margin: 0;
        border-bottom: none;
        border-left: none;
        transform: rotate(0deg);
        background-image: url('../img/icons/checkbox.svg');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-color: transparent;
        box-shadow: none;
    }
}

.jq-file {
    position: absolute;
    @include centerXY;
    width: 120%;
    height: 59px;
    border-radius: 0px;
    box-shadow: none;

    /* &.filter-style.focused {
        border: none;
        outline: none;
    } */

    &__name {
        font-size: 0px;
        width: 100%;
        height: 100%;
        padding: 0;
        //border-bottom-color: #B3B3B3;
        border: none;
        border-radius: 0px;
        background: transparent;
        box-shadow: none;
    }
}

.jq-file__browse {
    display: none;
}

.jq-selectbox {
    width: 100%;

    &__select {
        height: auto;
        padding: 0 9px 0 0;
        border-bottom-color: transparent;
        border-radius: 0;
        background: transparent;
        color: $dark;
        font-size: 14px;
        box-shadow: none;
        text-shadow: none;
        border: none;
        position: relative;

        &:hover {
            background: transparent;
        }

        &:active {
            background: transparent;
            box-shadow: none;
        }
    }

    &__select-text {
        position: relative;
        width: fit-content;
        padding-right: 13px;

        &:after {
            @include reset-btn;
        }
    }

    &__trigger {
        position: absolute;
        top: 3px;
        right: 0;
        width: 8px;
        height: 6px;
        background-image: url('../img/icons/arrows/drop-select.svg');
        transform: rotate(0deg);
        border-left: none;
    }

    &__trigger-arrow {
        position: absolute;
        top: 14px;
        right: 12px;
        width: 0;
        height: 0;
        border: none;
    }

    li {
        color: rgba(0, 0, 0, 0.6);

        &:hover {
            background: rgba(107, 126, 172, 0.05);
            color: rgba(0, 0, 0, 0.6);
        }
    }

    li.selected {
        background-color: transparent;
        color: rgba(0, 0, 0, 0.6);
    }

    &__dropdown {
        border-radius: 0;
        padding-top: 15px;
    }
}

.jq-selectbox.focused .jq-selectbox__select {
    border: none;
}

.phone-field {
    input {
        background-color: transparent;
        border: none;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;

        &::placeholder {
            color: $dark;
        }
    }

    .jq-selectbox {
        width: auto;

        &__select {
            font-weight: 600;
            line-height: 17px;
            padding-left: 25px;

            &:before {
                content: '';
                position: absolute;
                top: -2px;
                left: 0;
                width: 20px;
                height: 20px;
                background-image: url('../img/icons/belarus.png');
                background-position: 0 center;
                background-size: contain;
                background-repeat: no-repeat;
            }
        }

        &__select-text {
            padding-right: 0;

            &:after {
                display: none;
            }
        }

        &__trigger {
            top: 6px;
            right: 0;
            width: 6px;
            height: 4px;
            background-image: url('../img/icons/arrows/select-drop.svg');
        }
    }
}

.mini-select {
    .jq-selectbox {
        &__select {
            position: relative;
            padding-right: 11px;
        }

        &__trigger {
            @include centerY;
            right: 0;
            width: 8px;
            height: 6px;
            background-image: url('../img/icons/arrows/drop-select.svg');
        }
    }
}

select option span {
    opacity: 0.5;
}

// ======================== Datepicker ======================= //

input:-internal-autofill-selected {
    appearance: none;
    background-color: transparent !important;
    color: rgba($dark, 0.5) !important;
}

.datepicker {
    background: #fff;
    border: none;
    box-shadow: none;
    border-radius: 0px;
    box-sizing: border-box;
    font-family: 'Gilroy', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: $dark;
    width: 202px;

    &--pointer {
        display: none;
    }

    &--nav {
        padding: 5px;
        justify-content: center;
        background-color: $light-blue-bg;
    }

    &--nav-title {
        font-size: 13px;
        i {
            color: $dark;
        }
    }

    &--nav-action {
        svg {
            path {
                stroke: $blue;
            }
        }
    }

    &--cell {
        width: 20px;
        height: 18px;
        &.-selected- {
            background-color: $blue;
            border-radius: 50%;
            width: 18px;
        }
    }

    &--content {
        padding: 10px;
    }

    &--days-names {
        margin: 0 0 5px 0;
    }

    &--day-name {
        color: rgba($dark, 0.6);
    }
}

.filter-item__content .jq-selectbox__trigger {
    background-image: none;
}