.irs {
    &--flat {
        width: 100%;
        .irs {
            font-family: 'Gilroy', sans-serif;
            &-min, &-max {
                top: 10px;
                padding: 0px;
                font-size: 12px;
                line-height: 22px;
                text-decoration-line: none;
                color: rgba(255, 255, 255, 0.35);
                text-shadow: none;
                background-color: transparent;
                border-radius: 0;
                visibility: visible !important;
                padding-left: 0px;
                &:before {
                    position: absolute;
                    left: 0;
                    font-size: 14px;
                    line-height: 17px;
                    color: #C4C4C4;
                    text-decoration: none;
                }
            }
            &-line {
                top: 0px;
                height: 5px;
                background: linear-gradient(180deg, #3B7EFF 0%, #659AFF 100%);
                opacity: 0.8;
                border-radius: 20px;
            }
            &-bar {
                top: 0px;
                height: 5px;
                background: #FFFFFF;
                border-radius: 20px;
            }
            &-handle {
                position: relative;
                top: -10px;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background: #FFFFFF;
                box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.25);
                &:before {
                    content: '';
                    position: absolute;
                    @include centerXY;
                    width: 14px;
                    height: 14px;
                    border-radius: 50%;
                    background: #FFFFFF;
                    box-shadow: inset 0px 0px 4px rgba(0, 10, 255, 0.25);
                } 
                i:first-child {
                    background-color: transparent;
                }
                &:hover {
                    i:first-child {
                        background-color: transparent;
                    }
                }
                &.state_hover > i:first-child {
                    background-color: transparent;
                }
            }
            &-single {
                top: 10px;
                color: white;
                font-size: 14px;
                line-height: 22px;
                text-align: center;
                text-shadow: none;
                padding-left: 3px;
                background-color: transparent;
                border-radius: 0px;
                &:before {
                   display: none;
                }
            }
        }
    }
    &-from, &-to {
        display: none;
    }
}