.tabs {
    @include flex;
    align-items: center;
    background: linear-gradient(239.5deg, rgba(255, 255, 255, 0.35) -0.02%, rgba(255, 255, 255, 0) 68.53%), #236eff;
    border-radius: 20px;
    padding: 7px 8px;

    @media (max-width: 767px) {
        flex-wrap: wrap;
        justify-content: center;
    }

    @media (max-width: 424px) {
        flex-direction: column;
    }

    &--mini {
        width: auto;
        padding: 6px;
        border-radius: 10px;
    }

    &--blue {
        background: #e3eeff;
        padding-left: 10px;
        padding-right: 10px;
        .tab,
        .required-tab {
            //width: 945px / 4;
            color: #343434;
            padding: 0 18px;

            &--active {
                background-color: $blue;
                color: #fff;
            }
        }
    }

    @media (max-width: 575px) {
        width: 100%;
        overflow-x: scroll;
        border-radius: 8px;
        padding: 4px 0px 4px 30px;
    }

    // .tabs__content

    &__content {
        display: none;

        @media (max-width: 424px) {
            padding: 0;
        }
    }

    // .tabs__content--active

    &__content--active {
        display: block;

        &.grid {
            display: grid;
        }
    }
}

.tabs__content--active.benefits__content {
    @include flex;
    @media (max-width:425px) {
        display: block;
    }
}

.tabs.container {
    max-width: $container;
    padding: 7px;
}

.tab, required-tab {
    @include center;
    font-weight: 500;
    font-size: 16px;
    line-height: 50px;
    color: rgba(#fff, 0.6);
    text-align: center;
    cursor: pointer;

    // @media (max-width: 575px) {
    //     width: auto;
    //     padding: 0 6px;
    //     font-size: 12px;
    // }

    &--active {
        background: rgba(255, 255, 255, 0.13);
        border-radius: 20px;
        padding: 9px 25px;
        color: rgba(#fff, 1);
        font-weight: 600;

        // @media (max-width: 575px) {
        //     border-radius: 10px;
        // }
        @media (max-width: 425px) {
            padding: 9px 55px;
        }
    }

    &--mini {
        font-size: 14px;
        line-height: 28px;
        color: rgba(#fff, 0.5);
        padding: 0 15px;

        &.tab--active {
            border-radius: 10px;
            color: #fff;
        }
    }
}

.required-tab {
    height: 49px;
}

.benefits .tabs {
    @media (max-width:545px) {
        padding: 4px 0 4px;
    }
}

.section .tabs {
    @media (max-width:545px) {
        padding: 4px 0 4px;
    }
}