.avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #D8E5EE;
    background-position-x: center;
    background-repeat: no-repeat;

    &--woman {
        background-image: url('../img/icons/avatars/woman.svg');
        background-size: 37px 42px;
        background-position-y: 8px;
    }

    &--man {
        background-image: url('../img/icons/avatars/man.svg');
        background-size: 41px 41px;
        background-position-y: bottom;
    }
}