.forgot-password-popup {
    display: none;
    min-height: 310px;
    position: fixed;
    top: 100px;
    @media (max-width: 425px) {
        width: 300px;
    }
}

.forgot-password-popup__reset-by-phone {
    color: blue;
    text-decoration: underline;
}

.get-new-password-email__btn {
    display: none;
}

.forgot-password-popup__form {
    @media (max-width: 425px) {
        padding: 15px;
    }
    &-item {
        @media (max-width:425px) {
            padding: 10px;
        }
    }
}
