
.response-popup {
    display: none;
    position: fixed;
    top: 100px;
    @media (max-width: 768px) {
        width: 95%
    }

    &__form {
        padding: 30px;
        background: rgba(245, 249, 255, 1);
        border-radius: 8px;
        
    }

    &__form p {
        font-size: 14px;
    }
    
    &__title {
        font-size: 36px;
        padding-bottom: 18px;
    }

    &__title-descr {
        padding-bottom: 25px;
    }

    &__terms {
        opacity: 0.5;
        padding-bottom: 10px;
    }

    &__section {
        width: 565px;
        background: #fff;
        border-radius: 6px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        @media (max-width: 768px) {
            width: 100%;
        }
    }

    &__section-text {
        padding: 15px 20px 0;
        width: 96%;
        font-size: 14px;
        & span {
            opacity: 0.4;
            text-decoration: underline;
            position: relative;
            margin-right: 15px;
            cursor: pointer;
        }
        & span::after {
            content: url(../img/icons/arrows/arrow-down.svg);
            width: 8px;
            height: 4.56px;
            top: 0;
            right: -10px;
            text-decoration: underline;
            color: #343434;
            position: absolute;
        }
    }


    &__list {
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
    }

    &__list-item {
        position: relative;
        font-size: 10px;
        padding-left: 10px;
        padding-right: 15px;
        padding-bottom: 10px;
    }

    &__list-item::before {
        content: url(../img/icons/Ellipse.svg);
        height: 6px;
        width: 6px;
        top: 0px;
        left: 0px;
        position: absolute;
    }
    
    &__add-list-item {
        margin-left: 20px;
        margin-bottom: 30px;
    }

    &__input label {
        display: block;
        margin-left: 20px;
        padding-bottom: 5px;
    }

    &__response-btn {
        width: 154px;
        height: 44px;
        background: rgba(255, 97, 24, 1);
        border-radius: 8px;
        color: #fff;
        margin-top: 30px;
    }

    &__response-btn:hover {
        box-shadow: 0px 4px 20px rgba(255, 107, 0, 0.35);
    }

    &__input {
        display: flex;
        & img {
            cursor: pointer;
        }
    }

    &__add-input {
        border: 1px solid rgba(35,110,255,.15);
        border-radius: 8px;
        height: 25px;    
        color: #343434;
        margin-left: 20px;
        position: relative;
        margin-right: 10px;
    }
}

.none {
    display: none!important;
}

.dropdown-content {
    display: none;
}

.span-text {
    display: inline;
    padding-left: 5px;
    position: relative;
    @media (max-width: 768px) {
        display: block;
        padding-left: 0;
    }
}

.span-text:nth-child(3) {
    padding-left: 0;
}

.response-popup__dropdown {
    box-sizing: border-box;
	width: 150px;
	margin: 2px 0 0;
	padding: 0;
	border: 1px solid #CCC;
	border-radius: 4px;
	background: #FFF;
	box-shadow: 0 2px 10px rgba(0,0,0,.2);
	font: 14px/18px Arial, sans-serif;
    position: absolute;
    top: 15px;
    left: -10px;
    z-index: 10;
}

.dropdow-list {
    margin-left: 20%;
    cursor: pointer;
}