.order-process {

    background-color: $light-blue-bg;

    // .order-process__inner

    &__inner {
        @include flex;
        margin-bottom: 120px;
    }

    // .order-process__main

    &__main {
        width: 750px;
    }

    &__review-form {
        margin: 20px 0 25px;
    }

    // .order-process__why-review

    &__why-review {}

    // .order-process__aside

    &__aside {
        width: 360px;
    }
}

.main-process {

    // .main-process__header-img

    &__header-img {
        width: 100%;
        height: 230px;
        filter: drop-shadow(0px 10px 40px rgba(0, 4, 41, 0.05));
        border-radius: 14px;

        //background-size: cover;
        //background-position: 0 0;
        //background-repeat: no-repeat;
    }

    &__body {
        background: #FFFFFF;
        box-shadow: 0px 10px 40px rgba(0, 4, 41, 0.05);
        border-radius: 14px;
        padding: 50px 25px;
        margin-top: 20px;
    }

    // .main-process__info-box

    &__info-box {
        border: 1px solid rgba(35, 110, 255, 0.3);
        border-radius: 6px;
        padding: 17px 8px;
        font-size: 16px;
        line-height: 25px;
        margin-bottom: 40px;
    }

    // .main-process__additional-agreement

    &__additional-agreement {}

    // .main-process__title

    &__title {
        font-size: 18px;
        line-height: 25px;
    }

    // .main-process__chat-benefits

    &__chat-benefits {
        background-color: $light-blue-bg;
        border-radius: 6px;
        padding: 18px;
        font-size: 14px;
        line-height: 22px;
        margin: 40px 0;
    }

    // .main-process__chat

    &__chat {}

    &__blue-block {
        background: linear-gradient(201.82deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 98.62%),
            #236EFF;
        border-radius: 6px;
        color: #FFFFFF;
    }

    &__change {
        font-size: 14px;
        line-height: 50px;
        margin-top: 25px;

        span {
            border-bottom: 1px solid $dark;
        }
    }
}

.additional-agreement {

    // .additional-agreement__title

    &__title {
        margin-bottom: 20px;
    }

    // .additional-agreement__form

    &__form {
        @include flex;
        align-items: flex-end;
    }

    // .additional-agreement__checkboxes

    &__checkboxes {
        width: 390px;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 10px;
        border: none;
        padding: 0;
    }

    // .additional-agreement__checkboxes-col

    //&__checkboxes-col {}

    &__label {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        white-space: nowrap;

        span {
            color: #9A9A9A;
        }

        .filter-style {
            margin-right: 8px;
        }
    }

    // .additional-agreement__btn

    &__btn {
        width: 138px;
        height: 32px;
        border-radius: 4px;
        padding: 6px 14px;
        font-weight: bold;
        font-size: 12px;
        margin-bottom: 7px;
    }
}

.chat {

    // .chat__day

    &__day {
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(35, 110, 255, 0.1);
    }

    &__day+&__day {
        margin-top: 25px;
    }

    // .chat__item

    &__item {
        margin-top: 25px;

        &:first-child {
            margin-top: 0;
        }
    }

    // .chat__status

    &__status {
        @include flex;
        align-items: center;
        padding: 15px 50px;
        margin-top: 25px;
    }


    // .chat__status-left

    &__status-left {
        align-items: center;
    }

    &__status-icon {
        @include center;
        width: 39px;
        height: 39px;
        border-radius: 50%;
        background-color: #fff;
    }

    // .chat__status-text

    &__status-text {
        margin-left: 25px;
    }

    // .chat__status-btn

    &__status-btn {
        display: inline-flex;
        width: 118px;
        height: 32px;
        border-radius: 4px;
        padding: 6px 10px;
        font-weight: bold;
        font-size: 12px;
    }

    &__status-btn+&__status-btn {
        margin-left: 10px;
    }

    // .chat__status-label

    &__status-label {
        border-color: rgba(255, 255, 255, 0.5);

        &--awaiting-confirmation {
            width: 152px;
        }
    }
}

.chat-item {

    &__blue-text {
        color: rgba(35, 110, 255, 0.5);
    }

    // .chat-item__date

    &__date {
        display: block;
        font-size: 12px;
        line-height: 22px;
        text-align: center;
        margin-bottom: 15px;
    }

    // .chat-item__inner

    &__inner {
        @include column;
        align-items: flex-end;
    }

    // .chat-item__main

    &__main {
        width: 100%;
        display: flex;
        @include flex;
    }

    // .chat-item__persone

    &__persone {
        display: flex;
    }

    // .chat-item__avatar

    &__avatar {
        position: relative;
        width: 50px;
        height: 50px;

        &:after {
            content: '';
            position: absolute;
            right: 2px;
            bottom: 3px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: #00F836;
        }
    }

    // .chat-item__avatar--active

    /* &__avatar--online {
        position: relative;

        &:after {
            content: '';
            position: absolute;
            right: 2px;
            bottom: 3px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: #00F836;
        }
    } */

    // .chat-item__persone-name

    &__persone-name {
        width: 59px;
        padding-top: 5px;
        margin-left: 11px;
        font-size: 14px;
        line-height: 25px;
    }

    // .chat-item__content

    &__content {
        width: 570px;
        padding-top: 8px;

        //margin-left: 10px;
        figure {
            margin: 0;
        }
    }

    // .chat-item__text

    &__text {
        font-size: 12px;
        line-height: 20px;
    }

    // .chat-item__descr

    &__descr {}

    // .chat-item__send-time

    &__send-time {
        position: relative;
        padding-right: 15px;

        &:after {
            content: '';
            position: absolute;
            @include centerY;
            right: 0;
            width: 12px;
            height: 8px;
            background-image: url('../img/icons/read-message.svg');
        }
    }

    // .chat-item__img

    &__img {
        display: block;
        margin-top: 10px;
    }
}

.review-form {

    padding: 20px;

    // .review-form__title

    &__title {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 6px;
    }

    &__inner {
        @include flex;
    }

    // .review-form__text-field

    &__text-field {
        width: 476px;
        padding: 8px 10px;
        min-height: 108px;
    }

    // .review-form__right

    &__right {
        margin-left: 28px;
    }

    // .review-form__rating

    &__rating {
        align-items: center;
        font-size: 10px;
        line-height: 20px;
        margin-bottom: 6px;
    }

    &__rateyo {
        margin-left: 10px;
    }

    // .review-form__btn

    &__btn {
        width: 156px;
        height: 42px;
        padding: 11px 29px;
        font-weight: bold;
        font-size: 12px;
    }

    // .review-form__why-link

    &__why-link {
        font-size: 12px;
        line-height: 50px;
        opacity: .5;

        span {
            border-bottom: 1px solid #fff;
        }
    }
}

.review-why {

    @include flex;
    align-items: flex-end;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(35, 110, 255, 0.1);

    // .review-why__content

    &__content {}

    // .review-why__title

    &__title {
        font-size: 14px;
        line-height: 50px;
        margin-bottom: 10px;
    }

    // .review-why__list

    &__list {}

    // .review-why__list-item

    &__list-item {
        position: relative;
        padding-left: 10px;
        font-size: 12px;
        line-height: 22px;

        &:before {
            content: '';
            position: absolute;
            @include centerY;
            left: 0;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: $blue;
        }
    }

    // .review-why__discount

    &__discount {
        width: 234px;
        height: 61px;
        display: flex;
        align-items: center;
        background: rgba(35, 110, 255, 0.2);
        border-radius: 6px;
        padding: 0 20px;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        color: $blue;
        margin-bottom: 8px;
    }
}


.aside-process {

    // .aside-process__item

    &__item {
        background: #FFFFFF;
        box-shadow: 0px 10px 40px rgba(0, 4, 41, 0.05);
        border-radius: 8px;
        padding: 20px;
    }

    &__item+&__item {
        margin-top: 20px;
    }

    // .aside-process__contact

    &__contact {}

    // .aside-process__item-title

    &__item-title {
        position: relative;
        @include flex;
        align-items: center;
        font-size: 18px;
        line-height: 25px;
        cursor: pointer;
        z-index: 200;

        &--active {
            svg {
                transform: rotate(180deg);
            }
        }
    }

    &__contact-items {
        margin-top: 20px;
    }

    &__contact-item {
        margin-top: 15px;
    }

    // .aside-process__contact-logo

    &__contact-logo {}

    // .aside-process__contact-header-info

    &__contact-item-info {
        margin-left: 15px;
    }

    // .aside-process__contact-manager

    &__contact-manager {}

    // .aside-process__contact-items

    &__contact-list {
        margin-top: 20px;
    }

    // .aside-process__contact-item-title

    &__contact-item-title {
        font-weight: 500;
        font-size: 14px;
        line-height: 12px;
        color: rgba(52, 52, 52, 0.5);
        //margin-bottom: 10px;
    }

    // .aside-process__contact-link

    &__contact-link {
        font-size: 15px;
        line-height: 50px;
    }

    &__contact-link+&__contact-link {
        display: inline-block;
        margin-left: 12px;
    }

    // .aside-process__payment

    &__payment {}

    // .aside-process__item-text

    &__item-text {
        font-weight: 500;
        font-size: 14px;
        line-height: 12px;
        color: rgba(52, 52, 52, 0.5);
    }

    // .aside-process__item-subtitle

    &__item-subtitle {
        margin-top: 5px;
    }

    // .aside-process__payment-process

    &__payment-process {
        margin-top: 20px;
    }

    // .aside-process__payment-cancel

    &__payment-cancel {
        background-color: transparent;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        color: $blue;
        margin-top: 15px;
    }

    // .aside-process__docs

    &__docs {}

    // .aside-process__docs-list

    &__docs-list {
        margin: 30px 0 20px;
    }

    &__docs-item+&__docs-item {
        margin-top: 12px;
    }

    // .aside-process__docs-link

    &__docs-link {
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        position: relative;
        padding-left: 38px;

        &:before {
            content: '';
            position: absolute;
            @include centerY;
            left: 0;
            width: 25px;
            height: 25px;
            background-image: url('../img/icons/pdf.svg');
        }
    }

    &__modal {
        width: 433px;
        @include column;
        align-items: center;
        background: #FFFFFF;
        border: 1px solid rgba(35, 110, 255, 0.3);
        border-radius: 8px;
        padding: 24px 0;
        text-align: center;
    }

    &__modal-close {
        top: 16px;
        right: 16px;
    }

    &__modal-title {
        font-weight: 600;
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 25px;
    }

    &__modal-buttons {
        justify-content: center;
        align-items: center;
    }

    &__modal-label {
        width: 134px;
        position: relative;
        text-align: center;

        .jq-file__name {
            position: relative;

            &:before {
                content: 'Загрузить';
                position: absolute;
                @include centerXY;
                font-weight: bold;
                font-size: 13px;
                line-height: 50px;
                color: #fff;
            }
        }
    }

    &__modal-btn {
        width: 134px;
        height: 44px;
        padding: 9px 10px;
        font-weight: bold;
        font-size: 13px;

        &.jq-file {
            width: 134px;
            height: 44px;
            border-radius: 8px;
        }
    }

    &__modal-link {
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        color: $blue;
    }

    &__modal-btnitem+&__modal-btnitem {
        margin-left: 15px;
    }

    &__modal-text {
        border-top: 1px solid rgba(35, 110, 255, 0.1);
        padding: 20px 25px 0 25px;
        margin-top: 20px;
        font-size: 14px;
        line-height: 22px;

        a {
            color: rgba(35, 110, 255, 0.5);

            span {
                border-bottom: 1px solid rgba(35, 110, 255, 0.5);
            }
        }
    }

    // .aside-process__docs-add

    &__docs-add {}
}

.contact-item {

    // .company__logo

    &__img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }

    // .company__info

    &__info {
        margin-left: 15px;
    }

    // .company__name

    &__title {
        font-size: 14px;
        line-height: 25px;
    }

    &__descr {
        font-weight: 500;
        font-size: 10px;
        line-height: 20px;
        opacity: .5;
    }

    // .company__properties

    &__properties {
        color: $blue;

        span {
            border-bottom: 1px solid rgba($blue, .5);
        }
    }

    &__list-item+&__list-item {
        margin-top: 10px;
    }
}

.contact-manager {

    // .contact-manager__avatar

    &__avatar {
        width: 60px;
        height: 60px;
        background-image: url('../img/icons/avatars/woman.svg');
        background-size: 44px 53px;
        background-position-y: 7px;
    }

    // .contact-manager__info

    &__info {
        margin-left: 15px;
    }

    // .contact-manager__name

    &__name {}

    // .contact-manager__descr

    &__descr {}
}

.payment-process {

    counter-reset: payment-process;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        top: 10px;
        left: 15px;
        width: 2px;
        height: 95%;
        background-image: url('../img/payment-process-line.svg');
    }

    // .payment-process__item

    &__item {
        display: flex;
        align-items: center;
        position: relative;
        font-weight: 600;
        font-size: 16px;
        line-height: 50px;
        padding-left: 52px;

        &:before {
            content: counter(payment-process);
            counter-increment: payment-process;
            position: absolute;
            @include centerY;
            left: 0px;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background: #AAC7FF;
            @include center;
            font-weight: 600;
            font-size: 16px;
            line-height: 50px;
            color: #FFFFFF;
        }
    }

    // .paymennt-process__item--done

    &__item--done {

        &:before {
            content: url('../img/icons/check-mark.svg');
            background-color: $blue;
        }
    }

    &__item+&__item {
        margin-top: 20px;
    }
}

.auto {

    // .auto__inner

    &__inner {
        margin-top: 20px;
    }

    // .auto__info

    &__info {}
}

.info-auto {

    // .info-auto__name

    &__name {
        margin-bottom: 5px;
    }

    // .info-auto__item

    &__item {}

    // .info-auto__item-title

    &__item-title {}

    // .info-auto__item-descr

    &__item-descr {
        font-size: 13px;
        line-height: 18px;
    }

    // .info-auto__follow-link

    &__follow-link {
        display: block;
        font-weight: 600;
        font-size: 11px;
        line-height: 16px;
        color: $blue;
        margin-top: 10px;

        span {
            border-bottom: 1px solid $blue;
        }
    }
}