.general-dashboard {
    &__title {
        font-size: 36px;
        padding-bottom: 10px;
    }

    &__title-descr {
        font-size: 28px;
        font-weight: 400;
    }

    &__wrapper {
        width: 77.5%;
        @media (max-width:768px) {
            width: 100%;
        }
    }

    &__block {
        margin-top: 60px;
        display: flex;
        width: 100%;

        @media (max-width:768px) {
        display: block;
        }
        
    }

    &-column__title-block {
        border-radius: 8px;
        display: flex;
        align-items: center;
        background: #fff;
        box-shadow: 0px 10px 40px rgba(0, 4, 41, 0.05);
        
        @media (max-width:768px) {
            display: block;
            width: 100%;
        }

    }

    &-column__title-partner {
        border-right: 1px solid rgba(35, 110, 255, 0.3);

        @media (max-width:768px) {
            border-right: none;
            border-bottom: 1px solid rgba(35, 110, 255, 0.3);
            width: 100%;
        }
    }

    &-column__title-wrapper {
        padding-left: 10px;
    }

    &-column__title-partner img {
        width: 36px;
        height: 36px;
        display: flex;
    }

    &-column__title-text-partner {
        display: flex;
    }
    
    &-column__title-text {
        padding: 20px;
    }
    

    &-column__title-block span {
        font-size: 10px;
        opacity: 0.4;
        padding-top: 5px;
        padding-right: 14px;
    }

    &-column__title-partner {
        width: 50%;
    }


    &__columns {
        display: flex;
        margin-top: 10px;

        @media (max-width:768px) {
            display: block;
        }
    }

    &__column {
        margin-right: 10px;
        height: 100%;
        width: 50%;
        @media (max-width:768px) {
            width: 100%;
            padding-right: 0;
        }
    }

    &-column__info-block--width {
        width: 50%;
        @media (max-width:768px) {
            width: 100%;
        }
    }

    &-column-info-block__title {
        border-bottom: 1px solid rgba(35, 110, 255, 0.3);
    }

    &-column-info__cargo {
        position: relative;
        margin-left: 38px;
        padding: 20px 0;
    }

    &-column-info__auction {
        position: relative;
        margin-left: 42px;
        padding: 20px 0;
    }

    &-column-info__transport {
        position: relative;
        margin-left: 42px;
        padding: 20px 0;
    }

    &-column-info__cargo::before {
        content: url(../img/icons/box2.svg);
        position: absolute;
        width: 18px;
        height: 18px;
        top: 20px;
        left: -22px;
    }

    &-column-info__auction::before {
        content: url(../img/icons/surface.svg);
        position: absolute;
        width: 18px;
        height: 18px;
        top: 20px;
        left: -22px;
    }

    &-column-info__transport::before {
        content: url(../img/icons/delivery-truck.svg);
        position: absolute;
        width: 18px;
        height: 18px;
        top: 20px;
        left: -22px;
    }

    &-column__info-block {
        height: 226px;
        background: #fff;
        box-shadow: 0px 10px 40px rgba(0, 4, 41, 0.05);
        border-radius: 8px;
        margin-bottom: 10px;
        @media (max-width:1023px) {
            height: 50%;
        }
    }

    &-column-info-block__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 15px;
        grid-gap: 15px;
    }


    &-column-info-block__grid-element span {
        font-size: 12px;
        opacity: 0.4;
    }
    
    &-column-info-block__grid-element p {
        font-size: 12px;
        padding-top: 5px;
    }

    &__notifications {
        width: 205px;
        height: 463px;
        background: #FFFFFF;
        box-shadow: 0px 10px 40px rgba(0, 4, 41, 0.05);
        border-radius: 8px;
        margin-left: 10px;

        @media (max-width:768px) {
            margin-left: 0;
            width: 100%;
        }
    }

    &-notification__title {
        padding: 20px;
        border-bottom: 1px solid rgba(35, 110, 255, 0.3);
    }

    &-notification__item {
        padding: 15px 20px;
    }
    
    &-notification__item p {
        font-size: 12px;
        padding-top: 20px;
    }

    &-notification__item span {
        opacity: 0.4;
        font-size: 12px;
        padding-top: 5px;
    }

    &-notification__item:not(:last-child) {
        border-bottom: 1px solid rgba(35, 110, 255, 0.3);
    }
}

.dashboard {
    @media (max-width: 1023px) {
        display: none;
    }
}

.p-profile__content {
    width: 100%;
}
