<!DOCTYPE html>
<html lang="ru">
@@include('../_head.html')

<body>
    @@include('../../blocks/modules/loader/_loader.html')

    <div class="wrapper">
        @@include('../../blocks/modules/header/_header.html')

        <section class="top-page">
            <div class="container">
                <nav class="breadcrumbs">
                    <a class="breadcrumbs__item" href="#">
                        <svg width="11" height="8" viewBox="0 0 11 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M0.646446 3.64645C0.451184 3.84171 0.451184 4.15829 0.646446 4.35355L3.82843 7.53553C4.02369 7.7308 4.34027 7.7308 4.53553 7.53553C4.7308 7.34027 4.7308 7.02369 4.53553 6.82843L1.70711 4L4.53553 1.17157C4.7308 0.976311 4.7308 0.659728 4.53553 0.464466C4.34027 0.269204 4.02369 0.269204 3.82843 0.464466L0.646446 3.64645ZM11 3.5L1 3.5V4.5L11 4.5V3.5Z"
                                fill="#343434" />
                        </svg>
                        Хлебные крошки
                    </a>
                </nav>
                <h1 class="title page-title top-page__title title--white">
                    Доска позора
                </h1>
            </div>
        </section>

        <section class="section shame-board section--blue">
            <div class="container">
                <div class="shame-board__wrapper grid">
                    <div class="shame-board__header shame-board__block">
                        <ul class="shame-board__categories">
                            <li class="category shame-board__category">
                                Грузовладельцы
                            </li>
                            <li class="category shame-board__category">
                                Перевозчики
                            </li>
                        </ul>
                        <button class="button shame-board__btn">
                            Добавить компанию
                        </button>
                    </div>
                    <div class="shame-board__main shame-board__block">
                        <div class="shame-board__main-content">
                            <h2 class="title section__title">
                                Здесь собраны не добросовестные компании и мошенники
                            </h2>
                            <p class="shame-board__text">
                                Которые проявили себя на платформе ZIGMUS и других ресурсах
                            </p>
                        </div>
                        <img class="shame-board__main-img" src="img/cut-phone.png" alt="">
                    </div>

                    <div class="shame-board__content-card">
                        @@include('../../blocks/modules/shame-board/_shame-board-card.html')
                        @@include('../../blocks/modules/shame-board/_shame-board-card.html')
                        @@include('../../blocks/modules/shame-board/_shame-board-card.html')
                    </div>
                </div>
            </div>
        </section>

        @@include('../../blocks/modules/footer/_footer.html')

        <div class="overlay">
            @@include('../../blocks/modules/popups/_popups.html')
        </div>
    </div>

    @@include('../_js.html')

</body>

</html>