<!DOCTYPE html>
<html lang="ru">
@@include('../_head.html')

<body>
    @@include('../../blocks/modules/loader/_loader.html')

    <div class="wrapper">

        @@include('../../blocks/modules/header/_header.html')

        <div class="p-profile">
            <div class="container">
                <div class="p-profile__wrapper">

                    @@include('../../blocks/modules/dashboard/_dashboard.html')

                    <div class="p-profile__content your-company__content">
                        <nav class="breadcrumbs">
                            <a class="breadcrumbs__item" href="#">
                                <svg width="11" height="8" viewBox="0 0 11 8" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M0.646446 3.64645C0.451184 3.84171 0.451184 4.15829 0.646446 4.35355L3.82843 7.53553C4.02369 7.7308 4.34027 7.7308 4.53553 7.53553C4.7308 7.34027 4.7308 7.02369 4.53553 6.82843L1.70711 4L4.53553 1.17157C4.7308 0.976311 4.7308 0.659728 4.53553 0.464466C4.34027 0.269204 4.02369 0.269204 3.82843 0.464466L0.646446 3.64645ZM11 3.5L1 3.5V4.5L11 4.5V3.5Z"
                                        fill="#343434" />
                                </svg>
                                Хлебные крошки
                            </a>
                        </nav>

                        <div class="your-company__content__block">
                            <h1 class="h1-text">Ваши компании</h1>
                            <p class="status-text">Активны</p>
                            <p class="fines-text">Штрафов: <span>Нет</span></p>

                            <div class="wrapper--border">
                                <div class="wrapper--grid">
                                    <div class="wrapper--grid__item company-info">
                                        <div class="item-1">
                                            <img src="../../img/logo/sta-logo.png" alt="STA-logo" class="sta-logo">

                                            <div>
                                                <p class="company-name">(ООО) «АККОМ ТЛ»</p>
                                                <p class="company-number">+375 17 270 49 79</p>

                                                <div class="star-rating">
                                                    <img src="../../img/icons/star-rating/rated-star.svg" alt="Star 1">
                                                    <img src="../../img/icons/star-rating/rated-star.svg" alt="Star 2">
                                                    <img src="../../img/icons/star-rating/rated-star.svg" alt="Star 3">
                                                    <img src="../../img/icons/star-rating/rated-star.svg" alt="Star 4">
                                                    <img src="../../img/icons/star-rating/rated-star.svg" alt="Star 5">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="item-2">
                                            <ul>
                                                <li>Автопарк: <span>10-20 машин</span></li>
                                                <li>Город: <span>Минск</span></li>
                                                <li>Офисов: <span>2, Минск, Польша</span></li>
                                                <li>Юр.лицо: <span>ООО</span></li>
                                            </ul>
                                        </div>

                                        <div class="item-3">
                                            <p>Телефоны</p>

                                            <select class="variability-of-numbers" name="variability-of-numbers">
                                                <option selected>BY, Беларусь</option>
                                            </select>

                                            <div class="number-phone--flex">
                                                <p class="number-one">+375 17 270 49 79</p>
                                                <p class="number-two">+375 17 270 49 79</p>
                                            </div>

                                            <p>e-mail:</p>

                                            <p class="email-text">+375 17 270 49 79</p>

                                        </div>
                                    </div>

                                    <div class="wrapper--grid__item block-requisites-and-verification">
                                        <div class="item-1">
                                            <p>Реквизиты</p>

                                            <select class="variability-of-requisites" name="variability-of-requisites">
                                                <option selected>BY, Беларусь</option>
                                            </select>

                                            <p class="requisites-info">ООО «Аккомтранс Логистикс»; г. Минск, ул.
                                                Мельникайте, д.4/2, офис 510Б; УНП 193948300;
                                                BY17ALFA30122253450040270000(BYN) BY62ALFA30122253450010270000(RUB)
                                                BY47ALFA30122253450020270000(USD) BY32ALFA30122253450030270000(EUR) ЗАО
                                                Альфа-Банк SWIFT: ALFABY2X</p>
                                        </div>
                                        <div class="item-2">
                                            <div class="block-verification">
                                                <h3 class="verification-text">Верификация</h3>
                                                <p class="about-checking-text">О проверке?</p>

                                                <ul class="verification-list">
                                                    <li class="active legal-entity-text">Юр. Лицо</li>
                                                    <li class="active">Документы</li>
                                                    <li class="active">Офис, фото, видео</li>
                                                    <li class="active phone-text">Телефоны</li>
                                                    <li class="active">Платеж на счет</li>
                                                    <li class="inactive">Репутация по сервису&nbsp;<a href="#">картотека</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="wrapper--grid__item">

                                    </div>
                                </div>
                                <div class="wrapper-two--flex">
                                    <div class="decency-metrics">
                                        <h3>Метрики порядочности</h3>

                                        <div class="decency-metrics__ul--grid">
                                            <div>
                                                <ul>
                                                    <li>На ZIGMUS: <span>1 год</span></li>
                                                    <li>Всего заказов: <span>254</span></li>
                                                    <li>Отзывы: <span>2</span></li>
                                                </ul>
                                            </div>
                                            <div>
                                                <ul>
                                                    <li>Спорных ситуаций: <span>0</span></li>
                                                    <li>Жалоб с его стороны: <span>0</span></li>
                                                    <li>Жалоб на него: <span>0</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="decency-comfort">
                                        <h3>Метрики комфорта</h3>

                                        <div class="decency-comfort__ul">
                                            <ul>
                                                <li>Средний ответ на отклик: <span>30 минут</span></li>
                                                <li>Среднее время ответа на сообщения: <span>40 минут</span></li>
                                                <li>Среднее время оплаты: <span>Сразу</span></li>
                                                <li>Среднее время отправки документов: <span>1 день</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <p class="edit-text">Редактировать</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @@include('../../blocks/modules/footer/_footer.html')

            <div class="overlay">

                @@include('../../blocks/modules/popups/_popups.html')

            </div>
        </div>
    </div>

    @@include('../_js.html')

</body>

</html>