.contacts-consultation {

    padding-bottom: 80px;

    &__item {
        width: 165px;
    }

    &__item+&__item {
        margin-left: 80px;
        @media (max-width: 425px) {
            margin-left: 0;
        }
    }
}

.contacts {

    // .contacts__title

    &__title {
        margin-bottom: 60px;
    }

    &__inner {
        @include flex;
        align-items: center;
        @media (max-width: 1023px) {
            display: block;
        }
    }

    // .contacts__form

    &__form {
        width: 662px;
        min-height: 391px;
        background: linear-gradient(239.5deg, rgba(255, 255, 255, 0.35) -0.02%, rgba(255, 255, 255, 0) 68.53%), $blue;
        border-radius: 10px;
        padding: 30px;
        @media (max-width: 1023px) {
            width: 100%;
        }
        @media (max-width: 545px) {
            padding: 15px;
        }
    }

    // .contacts__items

    &__items {

        display: flex;
        @media (max-width: 1023px) {
            justify-content: center;
            margin-top: 20px;
        }

        &--column {
            flex-direction: column;
        }
    }

    // .contacts__item

    &__item {

        display: flex;
        align-items: center;

        &--column {
            flex-direction: column;
            text-align: center;

            .contacts__item-icon {
                margin-bottom: 20px;
            }
        }

        &--line {
            .contacts__item-icon {
                margin-right: 20px;
            }
        }
    }

    // .contacts__item-icon

    &__item-icon {
        width: 80px;
        height: 80px;
        background-image: url('../img/icons/contact/email.svg');
        background-position: center;
        background-size: 34px 34px;
        background-repeat: no-repeat;

        &--phone {
            background-image: url('../img/icons/contact/phone.svg');
        }

        &--doc {
            background-image: url('../img/icons/contact/docs.svg');
        }
    }

    // .contacts__item-content

    &__item-content {
        @media (max-width: 545px) {
            width: 200px;
        }
    }

    &__item-title {
        font-size: 18px;
        line-height: 28px;
    }

    // .contacts__item-link

    &__item-descr {
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        opacity: .8;
    }

    &__license {
        position: relative;
        @media (max-width: 1023px) {
            margin-top: 20px;
        }
    }

    &__license-title {
        position: absolute;
        top: -10px;
        left: -14px;
        z-index: 100;
        width: 156px;
        background-color: $blue;
        border-radius: 10px;
        padding: 9px 20px;
        font-size: 18px;
        line-height: 28px;
        text-align: center;

        &:after {
            content: '';
            position: absolute;
            bottom: -13px;
            left: 2px;
            z-index: 99; // не хочет прятаться
            width: 19px;
            height: 22px;
            background-image: url('../img/icons/license-title-after.svg');
        }
    }

    &__license-img {
        max-width: 100%;
        height: auto;
        width: 425px;
    }
    &__letter-form-btn {
        @media (max-width: 545px) {
            width: 100px;
        }
        @media (max-width: 375px) {
            width: 90px;
        }
    }
}

.letter-form {

    // .letter-form__title

    &__title {
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 20px;
    }

    // .letter-form__textarea

    &__textarea {
        min-height: 198px;
        padding-right: 20px;
        margin-bottom: 20px;
    }

    // .letter-form__input

    &__input {
        width: 100%;
        background: #FFFFFF;
        border-radius: 10px;
        padding: 20px;
        padding-right: 115px;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        color: rgba($dark, .6);

        @media (max-width: 545px) {
            padding-right: 90px;
            padding-left: 5px;
        }

        &::placeholder {
            color: rgba($dark, .6);
        }
    }

    &__input-wrap {
        position: relative;
    }

    // .letter-form__btn

    &__btn {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 195px;
        height: 100%;
        padding: 0px 30px;
        font-size: 16px;
        line-height: 50px;
    }
}

.address {
    padding: 64px 0 73px;

    &__inner {
        @media (max-width: 545px) {
            padding: 0 20px;
        }
    }

    &__item+&__item {
        margin-top: 60px;
    }
}

.documents {
    padding-top: 80px;

    &__title {
        margin-bottom: 50px;
    }

    &__item {
        width: 165px;
    }

    &__item-link span {
        border-bottom: 1px solid $dark;
    }
}