.section-results {
    @media (max-width:768px) {
        padding-top: 290px;
    }
    @media (max-width:545px) {
        padding-top: 360px;
    }
}

.search-results {
    padding-top: 340px;
    @media (max-width:1023px) {
        padding-top: 495px;
    }
    @media (max-width:768px) {
        padding-top: 860px;
    }
    @media (max-width:545px) {
        padding-top: 1430px;
    }

    &__top-title {
        margin-top: 22px;
    }

    // .search-results__header

    &__header {
        @include flex;
        align-items: center;
        margin-bottom: 80px;
        @media (max-width:768px) {
            display: block;
        }
    }

    // .search-results__info

    &__info {
        display: flex;
        align-items: center;
    }

    // .search-results__title

    &__title {
    }

    // .search-results__info-num

    &__info-num {
        width: 137px;
        height: 66px;
        border-radius: 16px;
        padding: 10px 20px;
        margin-left: 20px;
        font-weight: 400;
        font-size: 24px;
    }

    // .search-results__sort

    &__sort {
        display: flex;
        align-items: center;
        @media (max-width:768px) {
            display: block;
            margin-top: 20px;
        }
    }

    // .search-results__select

    &__select {
        margin-left: 22px;
        @media (max-width:768px) {
            margin-left: 0;
            margin-top: 15px;
        }
        .jq-selectbox {
            &__select {
                width: 240px;
                background: #ffffff;
                border: 1px solid rgba(35, 110, 255, 0.15);
                border-radius: 6px;
                height: auto;
                padding: 15px 20px;
                color: $dark;
                font-size: 14px;
                line-height: 24px;
                font-weight: 500;
                box-shadow: none;
                text-shadow: none;
                position: relative;

                &:hover {
                    background: #ffffff;
                }

                &:active {
                    background: #ffffff;
                    box-shadow: none;
                }
            }

            &__select-text {
                position: relative;
                padding-right: 0;

                &:after {
                    display: none;
                }
            }

            &__trigger {
                position: absolute;
                @include centerY;
                right: 20px;
                width: 8px;
                height: 6px;
                background-image: url('../img/icons/arrows/drop-select.svg');
                transform: rotate(0deg);
                border-left: none;
                transition: 0.3s all;
            }

            &__trigger-arrow {
                position: absolute;
                top: 14px;
                right: 12px;
                width: 0;
                height: 0;
                border: none;
            }

            li {
                font-size: 14px;
                line-height: 16px;
                color: $dark;
                padding-left: 0;
                padding-right: 0;

                &:hover {
                    background: transparent;
                    color: $dark;
                }
            }

            li.selected {
                background-color: transparent;
                color: $dark;
            }

            &__dropdown {
                margin-top: 5px;
                background: #ffffff;
                box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.05);
                border-radius: 6px;
                padding: 10px;
                border: none;
            }
        }
        .jq-selectbox.focused.opened .jq-selectbox__trigger {
            transform: rotate(180deg);
        }
    }

    // .search-results__buttons

    &__buttons {
        margin-bottom: 40px;
    }

    // .search-results__btn

    &__btn {
        display: flex;
        align-items: center;
        background-color: transparent;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        opacity: 0.4;
        svg,
        div {
            margin-right: 7px;
        }

        &--active {
            color: $accent;
            opacity: 1;

            svg path {
                fill: $accent;
            }

            span {
                background-color: $accent;
            }
        }
    }

    &__btn + &__btn {
        margin-left: 28px;
    }

    // .search-results__map-btn

    &__map-btn {
        svg {
            margin-right: 9px;
        }
    }

    // .search-results__list-btn

    &__list-btn {
      
    }

    // .search-results__grid-btn

    &__grid-btn {
       
    }

    // .search-results__cards

    &__cards {
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 31px;
        grid-row-gap: 30px;
        display: none;
        &--active {
            display: block;
            &.grid {
                display: grid;
            }
        }
        @media (max-width:1023px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width:768px) {
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 15px;
            grid-row-gap: 15px;
        }
        @media (max-width:445px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    // .search-results__more-btn

    &__more-btn {
        width: 237px;
        padding: 12px 45px;
        margin: 40px auto 0;
    }
}

.transport-search-results {
    @media (max-width:1023px) {
        padding-top: 530px;
    }    
    @media (max-width:758px) {
        padding-top: 970px;
    }    

    @media (max-width:545px) {
        padding-top: 1630px;
    }    
}

.list-btn {
    @include column;
    justify-content: space-between;
    width: 16px;
    height: 1.33px * 3 + 3.78px * 2;
    // .list-btn__icon

    &__item {
        width: 100%;
        height: 1.33px;
        //background-color: rgba($dark, 0.4);
        background-color: $dark;
    }
}
.grid-btn {
    width: 4px * 3 + 2px * 2;
    height: 4px * 3 + 2px * 2;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 2px;

    &__item {
        width: 4px;
        height: 4px;
        background-color: rgba($dark, 0.4);
        border-radius: 1px;
    }
}

.search-results__container {
    width: 1200px;
}

.auction-search-results {
    display: flex;
    align-items: center;
}

.auction-search-results__top-link {
    margin-top: 22px;
    padding-left: 20px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
}

.auction-search-results__top-link--active{
    color: rgba(255, 255, 255, 1);
    text-decoration: underline;
}

.remove-filter-style {
    padding-bottom: 0!important;
    border-bottom: none!important;
}

.auction-search-results__info {
    @media (max-width:545px) {
        display: block;
    }
    & h2 {
        @media (max-width:545px) {
            margin-left: 50px;
        }
    }
}

.auction-search-result__btn {
    @media (max-width:545px) {
        margin-left: 0px;
    }
}

#cargo-map {
    width: 100%;
    height: 675px;
    background-color: #ffffff;
    border-radius: 10px;
    
}

.where-label,
.from-label {
    cursor: pointer;
}