.order-fulfillment-cargo__wrapper {

    .container {
        @media (max-width: 424px) {
            padding: 0 10px;
        }
    }

    .order-fulfillment-cargo__content {
        width: 100%;
        padding-top: 40px;

        .breadcrumbs {
            @media (max-width: 499px) {
                margin-bottom: 40px;
            }
        }
    }

    .grid-container {
        display: grid;
        grid-template-columns: 65.79% 34.21%;

        background-color: inherit;
        margin-bottom: 120px;

        @media (max-width: 767px) {
            margin-bottom: 60px;
            
            grid-template-columns: 100%;
            grid-template-areas:
                "two"
                "one";
        }

        &__item-one {
            @media (max-width: 767px) {
                grid-area: one;
            }
        }

        &__item-two {
            @media (max-width: 767px) {
                grid-area: two;
            }
        }
    }

    img.photo-of-goods-transportation {
        border-radius: 14px;
        max-width: 100%;
    }

    .informing-block {
        background-color: #FFF;
        box-shadow: 0px 10px 40px rgba(0, 4, 41, 0.05);
        border-radius: 14px;

        margin-top: 20px;
        padding: 50px 25px;

        @media (max-width: 424px) {
            padding: 20px;
        }

        &__text {
            border: 1px solid rgba(35, 110, 255, 0.3);
            box-sizing: border-box;
            border-radius: 6px;

            h2 {
                font-size: 16px;
                font-weight: bold;
                line-height: 25px;

                text-align: center;
                padding: 17px 22px;

                @media (max-width: 499px) {
                    font-size: 14px;
                }
            }
        }

        &__benefits-and-tips {
            margin: 40px auto;
            padding: 18px;

            background: #F5F9FF;
            border-radius: 6px;

            @media (max-width: 1023px) {
                margin: 30px auto;
            }

            .benefits-and-tips-text {
                font-weight: 500;
                font-size: 14px;
                line-height: 22px;

                color: #343434;

                @media (max-width: 499px) {
                    text-align: center;
                }
            }
        }
    }

    .additional-agreements {
        font-size: 18px;
        font-weight: bold;
        line-height: 25px;

        padding-top: 40px;
        padding-bottom: 20px;

        &-form {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            justify-content: center;

            @media (max-width: 1023px) {
                grid-template-columns: 1fr 1fr;
            }

            @media (max-width: 499px) {
                grid-template-columns: 100%;
                grid-row-gap: 10px;
            }

            .additional-agreements__item-mt-10 {
                margin-top: 10px;
            }

            input[type="checkbox"] {
                display: none;
            }

            label {
                font-weight: 500;
                font-size: 12px;
                line-height: 18px;

                &::before {
                    content: '';

                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    vertical-align: -2px;
                    margin-right: 8px;

                    opacity: 0.6;
                    border: 1px solid #236EFF;
                    border-radius: 2px;
                    cursor: pointer;
                }

                span.gray-text {
                    color: #9A9A9A;
                }
            }

            input:checked+label::before {
                content: '';
                background: url('../img/icons/arrows/check-mark-checkbox.svg') no-repeat center;
            }

            .additional-agreements--button-submit {
                border: 1px solid #236EFF;
                box-sizing: border-box;
                border-radius: 4px;

                font-size: 12px;
                font-weight: bold;

                background-color: #FFFFFF;
                color: #236EFF;

                align-self: center;
                justify-self: end;

                padding: 10px 28px;
                cursor: pointer;

                @media (max-width: 1023px) {
                    justify-self: start;
                    margin-top: 15px;
                }

                @media (max-width: 499px) {
                    margin-top: 10px;
                }
            }
        }
    }

    .reviews-block {
        &__date {
            font-size: 12px;
            line-height: 22px;

            text-align: center;
            color: rgba(35, 110, 255, 0.5);
            padding-bottom: 15px;
        }

        &__grid-review {
            display: grid;
            grid-template-columns: 50px 80px auto;
            grid-template-rows: auto auto;

            grid-template-areas:
                "user-icon user-name user-review"
                "user-icon . user-time-and-status";

            @media (max-width: 499px) {
                grid-template-areas:
                "user-icon user-name ."
                "user-review user-review user-review"
                ". . user-time-and-status";
            }

            &__user-icon {
                grid-area: user-icon;
            }

            &__user-name {
                grid-area: user-name;

                font-weight: bold;
                font-size: 14px;
                line-height: 25px;

                color: #343434;
                margin-left: 11px;
            
                @media (max-width: 499px) {
                    align-self: center;
                }
            }

            &__user-review {
                grid-area: user-review;

                font-size: 12px;
                line-height: 20px;

                color: #343434;
                margin-top: 3px;

                @media (max-width: 499px) {
                    margin-top: 6px;
                }
            }

            &__user-time-and-status {
                grid-area: user-time-and-status;
                text-align: end;

                .reviews-block__grid-review__user-time {
                    font-size: 10px;

                    display: inline-block;
                    margin: 8px 5px 8px 0;

                    color: rgba(35, 110, 255, 0.5);
                }
            }

            &__user-review {
                .img-cargo-delivered {
                    display: block;
                    margin-top: 10px;
                }
            }
        }
    }

    .block-documents-issued {
        display: grid;
        grid-template-columns: 39px 44.50% 49.00%;
        // 39px ≈ 6.50%; 6.50% + 52.50% + 41.00% = 100%
        align-items: center;
        margin: 25px auto;
        padding: 15px 50px;

        background: linear-gradient(269.53deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 88.53%), #236EFF;
        border-radius: 6px;

        @media (max-width: 767px) {
            grid-template-columns: 39px auto auto;
            padding: 15px 30px;
        }

        @media (max-width: 499px) {
            grid-template-columns: 100%;
            justify-items: center;
            grid-row-gap: 15px;

            padding: 15px 8px;
        }

        .documents-executed {
            font-weight: bold;
            font-size: 16px;
            color: #FFFFFF;

            line-height: 25px;
            margin-left: 25px;

            @media (max-width: 499px) {
                margin-left: 0;
            }
        }

        &__to-confirm-and-reject {
            display: grid;
            grid-template-columns: 50% 50%;
            grid-gap: 6px;

            justify-items: center;
            align-items: center;

            @media (max-width: 1023px) {
                grid-template-columns: 100%;
            }

            @media (max-width: 499px) {
                grid-template-columns: 50% 50%;
            }
        }

        &__to-confirm {
            background: #FF6118;
            border-radius: 4px;
            border: 1px solid #FF6118;

            font-weight: bold;
            font-size: 14px;
            text-align: center;

            color: #FFFFFF;
            cursor: pointer;

            padding: 8px 12px;
            justify-self: end;

            width: 112px;

            @media (max-width: 1023px) {
                justify-self: center;
            }
        }

        &__reject {
            background: none;
            border: 1px solid rgba(255, 255, 255, 0.5);
            box-sizing: border-box;
            border-radius: 4px;

            font-weight: bold;
            font-size: 14px;
            text-align: center;

            color: #FFFFFF;
            cursor: pointer;

            padding: 8px 12px;
            justify-self: start;

            width: 112px;

            @media (max-width: 1023px) {
                justify-self: center;
            }
        }
    }

    .revocation-date-separator {
        margin: 20px auto 25px;
        padding: 0;

        height: 1px;
        background-color: rgba(35, 110, 255, 0.1);
        border: 0;
    }

    .block-on-my-way {
        display: grid;
        grid-template-columns: 39px 74px auto;

        align-items: center;
        margin: 25px auto;
        padding: 15px 50px;

        background: linear-gradient(269.53deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 88.53%), #236EFF;
        border-radius: 6px;

        @media (max-width: 767px) {
            grid-template-columns: 39px auto auto;
            padding: 15px 30px;
        }

        @media (max-width: 499px) {
            grid-template-columns: 100%;
            grid-row-gap: 10px;
            justify-items: center;

            padding: 15px 8px;
        }

        .on-my-way-text {
            margin-left: 25px;

            font-weight: bold;
            font-size: 16px;
            line-height: 25px;
            color: #FFFFFF;

            @media (max-width: 499px) {
                margin-left: 0;
            }
        }

        &__waiting-for-confirmation {
            justify-self: end;
            align-self: center;

            border: 1px solid rgba(255, 255, 255, 0.5);
            box-sizing: border-box;
            border-radius: 4px;
            background: none;

            font-weight: 700;
            font-size: 14px;
            text-align: center;
            color: #FFFFFF;

            cursor: pointer;

            width: 170px;
            padding: 6px 10px;

            @media (max-width: 499px) {
                justify-self: center;
            }
        }
    }

    .block-leave-a-review {
        margin: 20px auto 25px;
        padding: 20px;

        background: linear-gradient(201.82deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 98.62%), #236EFF;
        border-radius: 6px;

        &__text {
            font-weight: bold;
            font-size: 20px;
            line-height: 24px;

            color: #FFFFFF;
            margin-bottom: 10px;
        }

        &__form .block-leave-a-review__grid-container {
            display: grid;
            grid-template-columns: 72% 28%;

            @media (max-width: 1199px) {
                grid-template-columns: 67% 33%;
                grid-column-gap: 6px;
            }

            @media (max-width: 991px) {
                grid-template-columns: 100%;
            }

            .tox-platform-touch {
                border-radius: 6px;
            }
        }

        &__form__grid-container-2 {
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: 20px 60px 26px;

            grid-template-areas:
                "your-mark rating-area"
                "button-submit button-submit"
                "a-question a-question";

            margin-left: 28px;
            align-content: center;

            @media (max-width: 1199px) {
                margin-left: 23px;
            }

            @media (max-width: 1023px) {
                margin-left: 0;
                margin-top: 18px;

                justify-content: center;
            }
        }

        &__rating-area {
            grid-area: rating-area;

            padding-top: 2px;
            justify-self: start;
        }

        &__form__submit {
            grid-area: button-submit;

            @media (min-width: 1024px) and (max-width: 1199px) {
                width: 100%;
            }
        }

        &__form__a-question {
            grid-area: a-question;
        }

        &__form .block-leave-a-review__your-mark {
            grid-area: your-mark;

            font-size: 10px;
            line-height: 20px;

            color: #FFFFFF;
            margin-right: 10px;
        }

        &__rating-area {
            cursor: pointer;
        }

        &__rating-area input {
            display: none;
        }

        &__rating-area label::before {
            content: url('../img/icons/star-rating/normal-star.svg');
            cursor: pointer;

            float: right;
            margin-right: 4px;
        }

        &__rating-area input:checked~label::before {
            content: url('../img/icons/star-rating/rated-star.svg');
            cursor: pointer;
        }

        &__form__submit {
            font-weight: bold;
            font-size: 12px;
            color: #FFFFFF;

            margin: 8px auto 0;
            padding: 14px 29px;

            background: #FF6118;
            border-radius: 4px;
            border: 1px solid #FF6118;

            width: 156px;
            align-self: center;
            justify-self: center;

            cursor: pointer;
        }

        &__form__a-question {
            font-size: 12px;

            text-decoration-line: underline;
            margin: 9px auto 12px;

            color: #FFFFFF;
            opacity: 0.5;
        }
    }

    .block-leave-a-review__form textarea,
    .order-translation .on-my-way-form textarea {
        resize: none;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        padding: 10px 8px;

        color: #343434;
        background: #FFFFFF;
        border: 1px solid #FFFFFF;
        border-radius: 6px;

        font-size: 12px;
        line-height: 20px;
    }

    .why-leave-a-review {
        h5 {
            font-weight: bold;
            font-size: 14px;

            color: #343434;
            margin-bottom: 10px;
        }

        &__grid-container {
            display: grid;
            grid-template-columns: auto auto;

            @media (max-width: 1023px) {
                grid-template-columns: 100%;
            }

            ul {
                font-size: 14px;

                color: #343434;
                text-decoration: none;
                margin-left: 15px;

                li {
                    padding-bottom: 6px;
                    align-self: center;

                    list-style-type: initial;

                    &:last-child {
                        padding-bottom: 0;
                    }

                    &::marker {
                        color: #236EFF;
                    }
                }
            }
        }
    }

    .discount-block {
        background: rgba(35, 110, 255, 0.2);
        border-radius: 6px;
        border: rgba(35, 110, 255, 0.2);

        padding: 15px 20px;
        max-width: 230px;
        box-sizing: border-box;
        justify-self: end;
        align-self: center;

        @media (max-width: 1023px) {
            max-width: 100%;
            margin: 15px auto 0;
        }

        p {
            font-weight: 600;
            font-size: 12px;
            line-height: 18px;

            color: #236EFF;
        }
    }

    .why-leave-a-review-separator {
        margin: 28px auto 25px;
        padding: 0;

        height: 1px;
        background-color: rgba(35, 110, 255, 0.1);
        border: 0;
    }

    .order-translation {
        .order-translation-text {
            font-size: 14px;
            color: #343434;

            margin-bottom: 15px;

            span {
                text-decoration: underline #343434 solid;
            }
        }

        .on-my-way-form {
            textarea {
                border: 1px solid rgba(35, 110, 255, 0.15);
                box-sizing: border-box;
                border-radius: 6px;

                margin-top: 20px;
                width: 100%;
                height: 120px;
            }

            .order-translation--button-submit {
                background: #FF6118;
                border: 1px solid #FF6118;
                border-radius: 4px;

                font-weight: bold;
                font-size: 12px;
                text-align: center;
                color: #FFFFFF;

                display: block;
                width: 156px;

                margin-top: 10px;
                margin-left: auto;
                padding: 15px 29px;

                cursor: pointer;

                @media (max-width: 374px) {
                    width: 100%;
                }
            }
        }
    }

    .grid-container__item {

        .contacts-block {
            background: #FFFFFF;
            box-shadow: 0px 10px 40px rgba(0, 4, 41, 0.05);
            border-radius: 8px;

            padding: 20px;
            margin-left: 30px;
            margin-bottom: 20px;

            position: relative;
            overflow: hidden;

            @media (max-width: 767px) {
                margin-left: 0;
            }

            &__header {
                position: relative;
                cursor: pointer;
            }

            .drop-arrow {
                position: absolute;

                top: 50%;
                right: 0;
                transform: translateY(-50%);

                cursor: pointer;
                transition: .4s ease;

                &.drop-arrow--active {
                    transform: rotate(180deg);
                }
            }

            &__h4 {
                font-weight: bold;
                font-size: 18px;
                color: #343434;

                @media (max-width: 1023px) {
                    width: 170px;
                }

                @media (max-width: 767px) {
                    width: 222px;
                }
            }

            &__user-information {
                margin-bottom: 15px;
            }


            &__grid-container-user {
                display: grid;
                grid-template-columns: 60px auto;

                margin-top: 15px;

                .information-about-the-company,
                .seller-information {
                    margin-left: 15px;
                    align-self: center;
                }

                .hirer-name,
                .seller-name {
                    font-weight: bold;
                    font-size: 14px;

                    color: #343434;
                }

                .company-type,
                .works-with-you {
                    font-weight: 500;
                    font-size: 10px;

                    color: #343434;
                    opacity: 0.5;
                    margin-top: 6px;
                }

                .company-details {
                    font-weight: 500;
                    font-size: 10px;
                    text-decoration-line: underline;

                    color: #236EFF;
                    opacity: 0.5;
                }
            }

            &__grid-container-phone-and-email {

                .phone-text,
                .email-text {
                    font-weight: 500;
                    font-size: 14px;

                    color: rgba(52, 52, 52, 0.5);
                    margin-bottom: 10px;
                }

                .first-phone-number,
                .second-phone-number,
                .email-adress {
                    font-weight: bold;
                    font-size: 15px;

                    color: #343434;
                    margin-bottom: 10px;
                    display: inline-block;
                }

                .second-phone-number {
                    margin-left: 12px;

                    @media (max-width: 1023px) {
                        display: block;
                        margin-left: 0;
                    }
                }

                p:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .payment-block {
            background: #FFFFFF;
            box-shadow: 0px 10px 40px rgba(0, 4, 41, 0.05);
            border-radius: 8px;

            padding: 20px;
            margin-left: 30px;
            margin-bottom: 20px;

            position: relative;
            overflow: hidden;

            @media (max-width: 767px) {
                margin-left: 0;
            }

            &__header {
                position: relative;
                cursor: pointer;
            }

            .drop-arrow {
                position: absolute;

                top: 50%;
                right: 0;
                transform: translateY(-50%);

                cursor: pointer;
                transition: .4s ease;

                &.drop-arrow--active {
                    transform: rotate(180deg);
                }
            }

            &__h4 {
                font-weight: bold;
                font-size: 18px;
                color: #343434;

                @media (max-width: 1023px) {
                    width: 170px;
                }

                @media (max-width: 767px) {
                    width: 222px;
                }
            }

            .prepayment {
                font-weight: 500;
                font-size: 14px;

                color: rgba(52, 52, 52, 0.5);
                margin-top: 10px;
            }

            &__order-fulfillment-process {
                margin-top: 10px;
                position: relative;
                display: grid;
                grid-template-columns: 32px auto;
                grid-template-rows: repeat(6, 1fr);
                align-items: center;

                @media (max-width: 1023px) {
                    grid-template-rows: repeat(6, 50px);
                }
            }

            &__order-fulfillment-process::before {
                content: '';
                border-left: 2px solid #AAC7FF;

                position: absolute;
                height: 255px;
                margin-top: -5px;
                margin-left: 15px;
                z-index: 1;
            }

            &__order-fulfillment-process>p {
                font-weight: 600;
                font-size: 16px;

                color: #343434;

                padding: 18px 0 18px 20px;
                justify-content: start;

                @media (max-width: 1023px) {
                    padding: 15px 0 15px 15px;
                    font-size: 14px;
                }
            }

            &__order-fulfillment-process>img {
                z-index: 2;
            }

            &__cancel-the-order {
                font-weight: 500;
                font-size: 14px;

                text-decoration: none;
                color: #236EFF;

                display: inline-block;
                margin-top: 15px;

                cursor: pointer;
            }
        }

        .documents-block {
            background: #FFFFFF;
            box-shadow: 0px 10px 40px rgba(0, 4, 41, 0.05);
            border-radius: 8px;

            padding: 20px;
            margin-left: 30px;
            margin-bottom: 20px;

            position: relative;
            overflow: hidden;

            @media (max-width: 767px) {
                margin-left: 0;
            }

            &__header {
                position: relative;
                cursor: pointer;
            }

            .drop-arrow {
                position: absolute;

                top: 50%;
                right: 0;
                transform: translateY(-50%);

                cursor: pointer;
                transition: .4s ease;

                &.drop-arrow--active {
                    transform: rotate(180deg);
                }
            }

            &__h4 {
                font-weight: bold;
                font-size: 18px;

                color: #343434;

                @media (max-width: 1023px) {
                    width: 170px;
                }

                @media (max-width: 767px) {
                    width: 222px;
                }
            }

            &__list-of-added-documents {
                display: grid;
                grid-template-columns: 24px auto;
                align-items: center;
                margin-top: 15px;
            }

            &__list-of-added-documents>p {
                font-weight: 500;
                font-size: 14px;

                color: #343434;
                margin: 12px 0 12px 12px;
            }

            &__add-button {
                font-weight: 500;
                font-size: 14px;

                color: #236EFF;
                text-decoration: none;
                display: inline-block;
                margin-top: 20px;

                cursor: pointer;
            
                &::before {
                    content: url('../img/icons/blue-add-button.svg');
                    vertical-align: -2px;
                    margin-right: 6px;
                }
            }
        }

        .your-car-block {
            background: #FFFFFF;
            box-shadow: 0px 10px 40px rgba(0, 4, 41, 0.05);
            border-radius: 8px;

            padding: 20px;
            margin-left: 30px;
            margin-bottom: 20px;

            position: relative;
            overflow: hidden;

            @media (max-width: 767px) {
                margin-left: 0;
            }

            &__header {
                position: relative;
                cursor: pointer;
            }

            .drop-arrow {
                position: absolute;

                top: 50%;
                right: 0;
                transform: translateY(-50%);

                cursor: pointer;
                transition: .4s ease;

                &.drop-arrow--active {
                    transform: rotate(180deg);
                }
            }

            &__h4 {
                font-weight: bold;
                font-size: 18px;
                color: #343434;

                @media (max-width: 1023px) {
                    width: 170px;
                }

                @media (max-width: 767px) {
                    width: 222px;
                }
            }

            &__info {
                display: grid;
                grid-template-columns: 60px auto;
                margin-top: 20px;

                align-self: center;
            }

            &__date {
                margin-left: 15px;

                .car-numbers {
                    font-weight: bold;
                    font-size: 14px;

                    color: #343434;
                    padding-top: 5px;
                }

                .driver-text,
                .phone-text {
                    font-weight: 500;
                    font-size: 10px;

                    color: #343434;
                    opacity: 0.5;
                    margin-top: 13px;
                }

                .driver-name,
                .phone-number {
                    font-weight: bold;
                    font-size: 13px;

                    color: #343434;
                    margin-top: 2px;
                }

                a {
                    font-weight: 600;
                    font-size: 11px;

                    text-decoration-line: underline;
                    color: #236EFF;
                    display: inline-block;
                    margin-top: 17px;
                }
            }
        }
    }
}